.input {
  background-color: #F4F6F9;
  padding: 12px 16px;
  border-radius: var(--radius-4);
  border: 1px solid var(--grey-400);
  display: flex;
  justify-content: center;
  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--grey-700);
  }
}

.inputDefault {
  width: max-content;
}
.inputFull {
  width: 100%;
  input {
    width: 100%;
  }
}
