@import "styles/font-styles";
@import "styles/media";

.cabinet {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  margin-top: var(--spacer-32);
  grid-gap: 24px;
  margin-bottom: var(--spacer-40);
  @media (max-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.cabinetTitle {
  margin-top: var(--spacer-32);
  @include font-500();
}

.cabinetWizard {
  grid-column: 1 / 4;

}

.cabinetContent {
  grid-column: 4 / 13;
}

.cabinetWrapper {
  height: 100vh;
  position: relative;
}

.cabinetFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
}
