.resizerButton {
  width: 56px;
  height: 56px;
  border-radius: var(--radius-8);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resizerImage {
  width: 100%;
}

.ant-modal {
  max-width: unset;
  margin: unset;
}
