@import "styles/font-styles";
@import "styles/media";

.medals {
  background-color: var(--white);
  min-height: 300px;
  padding-bottom: var(--spacer-64);
}

.medalsTitle {
  @include font-500();
  padding-top: var(--spacer-64);
  text-align: center;
}

.medalsContainer {
  margin-top: var(--spacer-40);
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 24px;
  @media (max-width: $tablet) {
    grid-gap: 16px;
  }
}

.medalsBtnMore {
  margin: 0 auto;
  margin-top: var(--spacer-40);
}
