@import "styles/font-styles";
@import "styles/media";

.registrationForm {
  display: flex;
  gap: var(--spacer-24);
  flex-direction: column;
}

.registrationFormContainer {
  width: 100%;
  padding: var(--spacer-24);
  @media (max-width: $tablet) {
    padding: var(--spacer-16);
  }
}

.registrationInputBlock {
  display: flex;
  gap: var(--spacer-24);
  margin-bottom: var(--spacer-32);
  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.registrationInputPicker, .registrationInputGender {
  flex: 1;
}

.mainExplore {
  margin-right: var(--spacer-4);
}

.registrationFormBtnContainer {
  display: flex;
  align-items: center;
  gap: var(--spacer-16);
  flex-wrap: wrap;
}

.registrationFormRules {
  max-width: 380px;
}
.registrationFormRulesText {
  color: var(--grey-700);
}

.registrationFormErrorsBlock {
  height: 60px;
}
.registrationFormLogin {
  padding: var(--spacer-24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grey-400);
  min-height: 80px;
  font-size: 16px;
  line-height: 24px;
  gap: 16px;
  flex-wrap: wrap;
}

.registrationFormLoginClick {
  color: var(--accent-first);
  cursor: pointer;
}
