.header {
  margin-top: var(--spacer-40);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-500);
}

.headerBtnText {
  padding-left: var(--spacer-4);
}

.headerLoginIcon {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid var(--accent-second);
  border-radius: var(--radius-8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBack {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerLogout {
  display: flex;
  align-items: center;
  gap: var(--spacer-16);
  span {
    display: flex;
    align-items: center;
    gap: var(--spacer-8);
  }
  a {
    &:hover {
      color: unset;
    }
  }
}
.headerLogoutDivider {
  width: 1px;
  height: 40px;
  background-color: var(--grey-500);
}
