@import 'styles/font-styles';

.partnerContent {
  padding: var(--spacer-32);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 140px;
    height: 140px;
    margin-bottom: var(--spacer-32);
  }
  p {
    margin-bottom: var(--spacer-16);
  }
  a {
    color: var(--accent-first);
  }
}

.partnerContentTitle {
  margin-bottom: var(--spacer-24);
  @include font-500();
  text-align: center;
}
