@import "styles/media";

.footer {
  min-height: 100px;
  padding: var(--spacer-16) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $tablet) {
    flex-direction: column;
    padding-top: var(--spacer-24);
  }
}

.footerLogo {
  @media (max-width: $tablet) {
    margin-bottom: var(--spacer-24);
  }
}

.footerLinks {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
  @media (max-width: $tablet) {
    margin: var(--spacer-24) 0;
    align-items: center;
  }
}

.footerLink {
  margin-bottom: var(--spacer-8);
  font-size: 16px;
  line-height: 20px;
}

